* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.user-table-header-container {
  display: flex;
  justify-content: center;
}

.user-table-header {
  font-weight: 500;
  font-size: 30px;
  margin: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.user-table-header-one,
.user-table-header-two,
.user-table-header-three,
.user-table-header-four,
.user-table-header-five {
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: #000;
}

.user-table-header-one {
  max-width: 40px;
}

.user-data-table-container {
  overflow-x: auto;
}

.user-data-table {
  width: 80%;
  margin: 40px auto 0;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}

.user-table-name {
  text-align: start !important;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

button:focus {
  border: none;
  outline: none;
}

.user-table-delete-btn {
  padding: 6px 10px;
  color: #fff;
  background-color: rgb(200, 33, 33);
}

.user-table-edit-btn {
  padding: 6px 10px;
  color: #fff;
  background-color: rgb(25, 25, 150);
}

.table-add-user-btn {
  padding: 8px 12px;
  color: #fff;
  background-color: green;
  vertical-align: middle;
}
